* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Mukta Malar', sans-serif;
}

body {
	background-color: #99D3B4;
}

nav {
	background-color: #772C57;
}

.side-nav {
	background-color: #772C57;
	color: #99D3B4;
}

.brand-logo img {
	width: 100%;
	height: auto;
}

.star {
	width: 50%;
	margin-top: 50px;
}

.ficfan {
	width: 100%;
	height: auto;
	padding: 30px;
}

.info {
	background-image: url(../img/Pixtopia_background_-_Outside_Pixie_Mirror_Office.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	color: #772C57;
}

.panel {
	width: 100%;
	height: auto;
	padding: 10px;
	margin-bottom: 20px;
	background-color: #99D3B4;
	border-radius: 8px;
}

.settings {
	width: 100%;
	height: auto;
	padding: 50px 0;
	background-color: #99D3B4;
}

.settings h3 {
	font-weight: bolder;
}

.categorias,.popular,.reciente {
	background-color: #772C57;
	border-radius: 5px;
	color: white;
}

.categorias ul li a {
	text-decoration: none;
	color: white;
	padding: 10px;
	font-size: 20px;
}

.stories {
	width: 100%;
	height: auto;
	background-color: #772C57;
	border-radius: 5px;
	color: #99D3B4;
}

.stories a p {
	color: #99D3B4;
	text-decoration: none;
}

.button {
	width: 100%;
	margin: 20px 0;
	background-color: #772C57;
}

.collection .collection-item {
	border: none;
	background-color: #772C57;
	color: #99D3B4;
}

.collection {
	border: none;
}

.profile {
	margin: 5px 10px;
}

.profilePage {
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 30px;
	color: #772C57;
}

.profilePage-friend {
	background-image: url(../img/background-friend.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 30px;
	color: #772C57;
}

.data {
	width: 100%;
	height: auto;
	padding: 10px;
	border-radius: 8px;
	border: dotted 3px;
	background-color: #99D3B4;
	color: #772C57;
	margin: 20px 0;
}

.facebook-btn {
	background-color: #4267b2;
  color: #FFF;
  font-weight: 500;
  width: 100%;
  margin-top: -30px;
  margin-bottom: 10px;
}

#login-modal h4, #signup-modal h4 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 800;
  background-color: #772C57;
  color: #fff;
  margin-top: -10px;
}

#login-modal p, #signup-modal p {
	color: #772C57;
}

.welcome {
	font-weight: 800;
	font-size: 15px;
}

svg.svg-inline--fa.fa-facebook-f.fa-w-9 {
	margin-right: 12px;
}

#login-modal hr, #signup-modal hr {
	border: 1px solid #772C57;
	margin-top: 10px;
}

.start-btn {
	background-color: #772C57;
	color: #fff;
	width: 100%;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
	height: 2rem;
}

.page-footer {
	background-color: #772C57;
}

.fa-user-plus, .fa-user-times {
	font-size: 40px;
	color: white;
	padding: 5px;
}

.textarea{
	background-color: white;
	border-radius: 5px;
}

