* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Mukta Malar', sans-serif;
}

body {
	background-color: #99D3B4;
}

nav {
	background-color: #772C57;
}

.side-nav {
	background-color: #772C57;
	color: #99D3B4;
}

.brand-logo img {
    width: auto;
    height: 57px;
    margin-left: 30px;
}

.star {
	width: 50%;
	margin-top: 50px;
}

.ficfan {
	width: 59%;
	height: auto;
	padding: 10px;
}

.info {
	background-image: url(../img/Pixtopia_background_-_Outside_Pixie_Mirror_Office.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	color: #772C57;
}

.panel {
	width: 100%;
	height: auto;
	padding: 10px;
	margin-bottom: 20px;
	background-color: #99D3B4;
	border-radius: 8px;
}

.settings {
	width: 100%;
	height: auto;
	padding: 50px 0;
	background-color: #99D3B4;
}

.settings h3 {
	font-weight: bolder;
}

.categorias,.popular,.reciente {
	background-color: #772C57;
	border-radius: 5px;
	color: white;
	margin: 20px 0;
}

.categorias ul li a {
	text-decoration: none;
	color: white;
	padding: 10px;
	font-size: 20px;
}

.stories {
	width: 100%;
	height: auto;
	background-color: #772C57;
	border-radius: 5px;
	color: #99D3B4;
}

.stories a p {
	color: #99D3B4;
	text-decoration: none;
}

.button {
	width: 100%;
	margin: 20px 0;
	background-color: #772C57;
}

.collection .collection-item {
	border: none;
	background-color: #772C57;
	color: #99D3B4;
}

.collection {
	border: none;
}

.profile {
	margin: 5px 10px;
}

.profilePage {
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 30px;
	color: #772C57;
}

.profilePage-friend {
	background-image: url(../img/background-friend.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 30px;
	color: #772C57;
}

.data {
	width: 100%;
	height: auto;
	padding: 10px;
	border-radius: 8px;
	border: dotted 3px;
	background-color: #99D3B4;
	color: #772C57;
	margin: 20px 0;
}

.facebook-btn {
	background-color: #4267b2;
  color: #FFF;
  font-weight: 500;
  width: 100%;
  margin-top: -30px;
  margin-bottom: 10px;
}

#login-modal h4, #signup-modal h4 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 800;
  background-color: #772C57;
  color: #fff;
  margin-top: -10px;
}

.start-btn {
	background-color: #772C57;
	color: #fff;
	width: 100%;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}


.page-footer {
	background-color: #772C57;
}

.fa-user-plus, .fa-user-times {
	font-size: 40px;
	color: white;
	padding: 5px;
}

.textarea {
	background-color: white;
	border-radius: 5px;
}



.fan-cover {
	border: 1px solid gray;
}

#login-modal p, #signup-modal p {
	color: #772C57;
}

.welcome {
	font-weight: 800;
	font-size: 15px;
} 

svg.svg-inline--fa.fa-facebook-f.fa-w-9 {
	margin-right: 12px;
}

#login-modal hr, #signup-modal hr {
	border: 1px solid #772C57;
	margin-top: 10px;
}

.start-btn {
	background-color: #772C57;
	color: #fff;
	width: 100%;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
	height: 2rem;
}

/*
Corrección del Search en Chrome

.nav-wrapper .input-field {
	margin-top: 20px;
}*/

.comment {
	background-color: #fff;
	width: 100%;
	height: auto;
	margin-top: 20px;
	border-radius: 4px;
	margin-bottom: 20px;
	padding-top: 5px;
}

.post {
	background-color: #fff;
	width: 100%;
	height: auto;
}

#post, #comment-post, #comment-post2, #comment-post3 {
	margin-top: -20px;
}

.text-post {
	color: #772C57;
	font-weight: 800;
  margin-left: -15px;
	margin-top: 25px;
	font-size: 15px;
	cursor: pointer;
	transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.text-post:hover, .name-comment:hover {
	color: #aa5385;
}

.text {
	color: #ad7494;
	font-size: 14px;
	margin-right: 10px;
}

.profile-post {
	margin-top: 5px;
	cursor: pointer;
	transition-property: opacity;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.profile-post:hover, .comment-profile:hover {
	opacity: 0.7;
}

.delete-post, #unfollow, #unfollow2, #unfollow3, .star-rate {
	margin-top: 20px;
	color: #868e96;
	transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

.delete-post:hover, #unfollow:hover, #unfollow2:hover, #unfollow3:hover, .star-rate:hover {
	color: initial;
}

.fa-heart, #heart {
	color: #868e96;
	margin-left: 10px;
	transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

.fa-heart:hover, #heart:hover {
	color: crimson;
}

.red-heart {
	color: crimson;
}

#input-img {
	margin-top: -13px;
}

#news-categ {
	margin-top: 20px;
}

.post-update {
	font-size: 18px;

}

.comment-text {
	font-size: 13px;
}

.comment-profile {
	width: 40px;
	height: auto;
	cursor: pointer;
	transition-property: opacity;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.name-comment {
	margin-left: 10px;
	color: #772C57;
	font-weight: 800;
  margin-top: 15px;
	font-size: 12px;
	cursor: pointer;
	transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.navbar-fixed h5 {
	font-weight: 800;
	font-size: 25px;
	margin-top: 20px;
}

.carousel h3, .carousel h4 {
	font-weight: 800;
	font-size: 30px;
	text-transform: uppercase;
}

.cat-title {
	font-weight: 800;
	display: inline-block;
	font-size: 18px;
}

nav ul a {
	background-color: transparent;
}

nav ul a:hover {
	background-color: transparent;
}

.shadowfilter {
  -webkit-filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.5));
}

.carousel p {
	font-size: 20px;
	font-weight: 800;
	margin-bottom: 10px;
}

.carousel-item {
	margin-bottom: 10px;
}

.rate {
	display: inline-block;
	font-size: 20px;
	margin-top: 15px;
}

.fanfic-title {
	font-weight: 800;
	color: #772C57;
	margin-top: 15px;
}

.fix-margin {
	margin-top: -21px;
}

.author {
	margin-top: 7px;
	margin-bottom: -10px;
}

.author-name {
	display: inline-block;
	color: #772C57;
	font-weight: 800;
	margin-top: 10px;
	margin-left: -14px;
}

.rated {
	margin-top: -5px;
	margin-bottom: 5px;
}

.turquoise {
	color: #03755e;
}

.categorie-fanfic {
	margin-top: 5px;
	font-size: 18px;
	font-weight: 800;
}

.img-fic {
	margin-top: 10px;
}

.add-margin {
	margin-top: 15px;
}

.def-color {
	color: #161616;
}

.font-lightColor {
	color: #726767;
}

.def-font {
	font-size: 15px;
}

.font-bigger {
	font-size: 20px;
}

.bg-dark {
	background-color: #fff5e0;
	width: 100%;
	height: auto;
	border-radius: 4px;
	margin-bottom: 20px;
	padding-top: 5px;
}

#fanfic-story {
	margin-bottom: 100px;
}

.bookmark-title {
	font-size: 15px;
	font-weight: 700;
	margin-top: 10px;
}

.bookmark {
	color: #868e96;
	transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

.bookmark:hover {
	color: initial;
}

